<label>Name</label>
<input type="text" ng-model="recipe.name">
<br>
<label>Cook Time</label>
<input type="text" ng-model="recipe.cook_time">
<br>
<label>Cook Method</label>
<select ng-model="recipe.cook_method"
        ng-options="method.stored_name as method.printed_name for method in methods">
</select>
<br>
<br>
<button class="btn btn-xs btn-danger" ng-click="deleteRecipe()">Delete</button>
<button class="btn btn-xs btn-info" ng-click="editRecipe()">Save changes</button>
<br>
<br>
<label>Description</label>
<input type="text" ng-model="recipe.description">
<br>
<button ng-click="saveNewRecipe()">Add Item</button>
<br>
{{ item }}
<br>
<p>{{ status }}</p>